.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: 12px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#drop_zone {
  border: 2px dashed #999;
  padding: 40px;
  cursor: pointer;
  margin: 0 40px;
}

#drop_zone.shrunk {
  padding: 10px 40px;
}

.dropper input {
  display: none;
}

#list ul {
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

#list ul li {
  list-style: none;
  background: #efefef;
  border: 1px solid #ccc;
  margin: 0 40px;
  padding: 15px;
}


.btn-auto-translate {
  margin: 10px auto;
}

.tr-cols {
  padding-top: 5px;
}

.text-container {
  width: 49.5%;
  resize: none;
  margin: 3px auto;
  height: 50px;
  white-space: nowrap;
  overflow: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 3px;
  font-size: 12px;
}

.text-container.disabled {
  border-right: none;
  background: #eee;
}

#list ul li strong {
  margin-right: 10px;
}

#list ul li strong.error {
  color: red;
}

.parsing {
  margin: 80px auto;
  height: 64px;
  border: none;
  width: 64px;
}

.parsing img {
  height: inherit;
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.popup.visible {
  display: block;
}

.popup .shade {
  position: fixed;
  content: " ";
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: #000;
  opacity: .4;
  cursor: pointer;
}

.popup .content {
  top: 5%;
  bottom: 100px;
  width: 60%;
  overflow: auto;
  position: fixed;
  z-index: 2;
  margin: 0 auto;
  resize: none;
  left: 0;
  right: 0;
  background: #fff;
  border: 2px solid #ccc;
  height: 90%;
  padding: 4px;
  font-size: 12px;
  line-height: 18px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  white-space: pre;
}

.popup .close {
  position: fixed;
  content: "x";
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: #fff;
  color: #000;
}

.popup .content .paste-all-values {
  height: 95%;
  display: block;
  width: 99%;
  overflow: auto;
  white-space: pre;
}

.popup .content button {
  margin: 2px auto;
  padding: 1px 20px;
  height: 25px;
  line-height: 1;
}

.download-butt {
  margin: 15px auto 3px;
}